.registerFormInput {
	float: left;
	margin-left: 4px;
}

.carousel {
	max-width: 600px;
	max-height: 500px;
	position: relative;
	left: 27%;
}

.review {
	font-size: 12px;
	margin-left: 0;
}

.payForParking:hover {
	cursor: pointer;
}

.loginOrRegister {
	float: right;
	margin-top: -40px;
}

.loginLink {
	float: left;
	margin-right: 10px;
}

.loginLink:hover {
	cursor: pointer;
}

.loginLink > a:hover {
	color: #FFE000 !important;
}

.registerLink {
	float: left;
	margin-left: 10px;
}

.registerLink:hover {
	cursor: pointer;
}

.registerLink > a:hover {
	color: #FFE000 !important;
}

.modal > .content {
	background: #585757;
}

.loginModal {
	max-width: 400px !important;
}

.modalLogo {
	height: 120px;
}

.emailRow {
	margin-left: 8px !important;
}

.navbar {
	background: #4B4B4B !important;
}

i {
	color: #f0f0f0 !important;
}

i:hover {
	cursor: pointer;
	color: white !important;
}

.linkHover:hover {
	color: #FFE000 !important;
}

.backgroundImage1 { 
  background: url(../img/mochaGrunge.png) repeat top left fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}


.registerContent {
	margin-left: 400px;
}

.privacyPolicy {
	margin-left: 40px;
	margin-right: 40px;
}

.footer {
	position: absolute;
	left: 36%;
	margin-bottom: 20px;
}

.footerhr {
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.userInfo {
	background: rgba(0, 0, 0, 0.4);
	max-width: 300px;
	margin-left: 130px;
	margin-top: 50px;
	height: 300px;
}

.vehicleInfo {
	background: rgba(0, 0, 0, 0.4);
	max-width: 300px;
	margin-left: 485px;
	margin-top: -300px;
	height: 300px;
}

.ticketInfo {
	background: rgba(0, 0, 0, 0.4);
	max-width: 300px;
	margin-left: 840px;
	margin-top: -300px;
	height: 300px;
	margin-bottom: 80px;
}

.updateUser {
	float: right;
	margin-right: 10px;
	margin-top: 45px;
	font-size: 12px;
	color: #CCC !important;
}

.updateUser:hover {
	cursor: pointer;
	color: #ACABAB !important;
}

.updateVehicle {
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	font-size: 12px;
	color: #CCC !important;
}

.updateVehicle:hover {
	cursor: pointer;
	color: #ACABAB !important;
}

.garages {
	background: rgba(0, 0, 0, 0.4);
	width: 300px;
	height: 256px;
	margin-left: 130px;
	margin-top: 20px;
	float: left;
}

.duration {
	background: rgba(0, 0, 0, 0.4);
	width: 300px;
	height: 256px;
	margin-left: 30px;
	margin-top: 20px;
	float: left;
}

.garageImage {
	display: none;
	height: 192px;
	width: 300px;
}

.orderSummary {
	background: rgba(0, 0, 0, 0.4);
	width: 300px;
	height: 256px;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 120px;
	float: left;
}

.clock {
	font-size: 60px;
	margin-top: 80px !important;
	right: 645px;
	position: absolute !important;
}

.time {
	margin-top: 100px;
	margin-left: 65px;
}

.hours {
	margin-left: 25px;
}

.hoursAndMinutes {
	text-align: center;
	margin-top: -15px;
	margin-left: -68px;
}

.garageText {
	float: left;
	width: 60px;
}

.garage {
	float: left;
	margin-left: 2px;
	width: 210px;
	margin-top: -2px;
}

.totalDurationText {
	float: left;
	width: 60px;
}

.totalDuration {
	float: left;
	margin-left: 14px;
	margin-top: -2px;
	width: 150px;
}

.priceText {
	float: left;
}

.price {
	float: left;
	margin-left: 4px;
}

.totalPriceText {
	float: left;
}

.totalPrice {
	float: left;
	margin-left: 4px;
	margin-top: -2px;
}

.payForParking {
	border-radius: 4px;
	color: black;
	padding: 2px 4px !important;
	margin-left: 60px;
	margin-top: 10px;
}


@media only screen and (max-width: 568px) {
	.modalLogo {
		height: 180px;
	}

	.emailRow {
		margin-left: 0px !important;
	}

	.carousel {
		left: 6%;
		width: 90%;
	}

	.loginOrRegister {
		margin-top: 16px;
		margin-right: 50px;
	}
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
	.modalLogo {
		height: 180px;
	}

	.emailRow {
		margin-left: 0px !important;
	}

	.carousel {
		left: 11%;
		width: 100%;
	}

	.loginOrRegister {
		margin-top: 16px;
		margin-right: 60px;
	}

	.loginModal {
		min-height: 330px !important;
		max-height: 330px !important;
	}

	.navbar a.toggle {
		right: 2%;
	}
}