.registerFormInput {
	float: left;
	margin-left: 4px;
}

.carousel {
	max-width: 600px;
	max-height: 500px;
	position: relative;
	left: 27%;
}

.payForParking:hover {
	cursor: pointer;
}

.loginOrRegister {
	float: right;
	margin-top: -40px;
}

.loginLink {
	float: left;
	margin-right: 10px;
}

.loginLink:hover {
	cursor: pointer;
}

.loginLink > a:hover {
	color: #FFE000 !important;
}

.registerLink {
	float: left;
	margin-left: 10px;
}

.registerLink:hover {
	cursor: pointer;
}

.registerLink > a:hover {
	color: #FFE000 !important;
}

.modal > .content {
	background: #585757;
}

.loginModal {
	max-width: 400px !important;
}

.modalLogo {
	height: 120px;
}

.emailRow {
	margin-left: 8px !important;
}

.navbar {
	background: #4B4B4B !important;
}

i {
	color: #f0f0f0 !important;
}

i:hover {
	cursor: pointer;
	color: white !important;
}

.linkHover:hover {
	color: #FFE000 !important;
}

.backgroundImage1 { 
  background: url(../img/mochaGrunge.png) repeat top left fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 568px) {
	.modalLogo {
		height: 180px;
	}

	.emailRow {
		margin-left: 0px !important;
	}

	.carousel {
		left: 6%;
		width: 90%;
	}

	.loginOrRegister {
		margin-top: 16px;
		margin-right: 50px;
	}
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
	.modalLogo {
		height: 180px;
	}

	.emailRow {
		margin-left: 0px !important;
	}

	.carousel {
		left: 11%;
		width: 100%;
	}

	.loginOrRegister {
		margin-top: 16px;
		margin-right: 60px;
	}

	.loginModal {
		min-height: 330px !important;
		max-height: 330px !important;
	}

	.navbar a.toggle {
		right: 2%;
	}
}