.login {
    float: right;
    color: white;
    margin-top: -40px;
    margin-right: 130px;
    width: 365px;
}

.loginLink {
    float: left;
    margin-right: 10px;
    a{
        color: #F0F0F0;
    }
}

.registerLink {
    float: right;
    margin-top: -39px;
    margin-right: 60px;
    a{
        color: #F0F0F0;
    }
}

.loginLink:hover, .registerLink:hover {
    cursor: pointer;
    a{
        color: #FCFC2D;
        text-decoration: underline;
    }
}

.register {
    margin-right: -40px;
    width: 200px;
    float: right;
    color: #BEBEBE;
    margin-top: -40px;
}

.email {
    float: left;
}

.pass {
    float: right;
}

.loginUser {
    width: 120px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 260px;
}

.loginPass {
    width: 120px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #222 !important;
}

.required {
    color: red;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
